<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre DonΛrtec</h3>
                    <p>Iniciativa estudiantil para reciclar componentes tecnológicos y reducir la brecha digital en
                        comunidades necesitadas.</p>
                    <div class="footer-logo">
                        <i class="fas fa-recycle"></i> DonΛrtec
                    </div>
                </div>

                <div class="footer-column">
                    <h3>Enlaces Rápidos</h3>
                    <ul class="footer-links">
                        <li><a href="#acerca"><i class="fas fa-angle-right"></i> Nosotros</a></li>
                        <li><a href="#componentes"><i class="fas fa-angle-right"></i> Componentes</a></li>
                        <li><a href="#impacto"><i class="fas fa-angle-right"></i> Impacto</a></li>
                        <li><a href="#donar"><i class="fas fa-angle-right"></i> Donar</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Contáctanos</h3>
                    <ul class="contact-list">
                        <li><i class="fas fa-map-marker-alt"></i> Facultad de Ingeniería, Santo Tomás Santiago
                            Centro<br>Piso 3 Edificio Vergara</li>
                        <li><i class="fas fa-envelope"></i>
                            <link rel="stylesheet" href=""><a href="mailto:donartec.donacion@gmail.com"
                                style="color: aliceblue;">donartec.donacion@gmail.com</a>
                        </li>
                        <li><i class="fas fa-phone"></i> +56 9 1234 5678</li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Horario</h3>
                    <ul class="schedule-list">
                        <li><span>Lunes a Viernes:</span> 9:00 AM - 6:00 PM</li>
                        <li><span>Sábados:</span> 10:00 AM - 2:00 PM</li>
                        <li><span>Domingos:</span> Cerrado</li>
                    </ul>
                    <div class="subscribe">
                        <h4>Suscríbete</h4>
                        <div class="subscribe-form">
                            <input type="email" placeholder="Tu correo electrónico">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <p>&copy; 2025 InfinityDevs | DonΛrtec - Proyecto Innovación Ecosocial Universitario</p>
                <div class="social-links">
                    <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/don.artec?igsh=OXNqdnltaWoxeDJs" target="_blank" title="Instagram"><i
                            class="fab fa-instagram"></i></a>
                    <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="scroll-top" id="scroll-top">
        <i class="fas fa-arrow-up"></i>
    </a>
</footer>