<nav class="navbar">
    <div class="container nav-container">
        <div class="logo">
            <a href="/">
                <span class="logo-icon"><i class="fas fa-recycle"></i></span>
                <span>DonΛrtec</span>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="#acerca">Nosotros</a></li>
            <li><a href="#componentes">Componentes</a></li>
            <li><a href="#impacto">Impacto</a></li>
            <li><a href="#donar" class="nav-btn">Donar</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>